In [1]:
import pandas as pd
from collections import Counter
from sklearn.utils import shuffle
import pickle

In [2]:
data = pd.read_csv("../data/BX-Book-Ratings.csv",sep=";")

In [3]:
data

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [4]:
data["User-ID"].describe()

count    1.149780e+06
mean     1.403864e+05
std      8.056228e+04
min      2.000000e+00
25%      7.034500e+04
50%      1.410100e+05
75%      2.110280e+05
max      2.788540e+05
Name: User-ID, dtype: float64

In [5]:
data = data[data["Book-Rating"]!=0].copy()

In [6]:
data

         User-ID         ISBN  Book-Rating
1         276726   0155061224            5
3         276729   052165615X            3
4         276729   0521795028            6
6         276736   3257224281            8
7         276737   0600570967            6
...          ...          ...          ...
1149773   276704   0806917695            5
1149775   276704   1563526298            9
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[433671 rows x 3 columns]

In [7]:
def get_unique_idx(unique_values):
    unique_idx={}
    count=0
    for v in unique_values:
        unique_idx[v]=count
        count+=1
    return unique_idx

In [8]:
unique_user_ids = set(data["User-ID"].values)
unique_isbn = set(data["ISBN"].values)

In [9]:
print("Number of users", len(unique_user_ids))
print("Number of books", len(unique_isbn))

Number of users 77805
Number of books 185973

In [10]:
unique_user_idx = get_unique_idx(unique_user_ids)
unique_isbn_idx = get_unique_idx(unique_isbn)

In [11]:
data['user_idx'] = data["User-ID"].apply(lambda x: unique_user_idx[x])
data['isbn_idx'] = data["ISBN"].apply(lambda x: unique_isbn_idx[x])

In [12]:
data.to_csv("../data/processed_rating.csv")

In [13]:
user_count = Counter(data.user_idx)
isbn_count = Counter(data.isbn_idx)

In [14]:
# Now we will take 50000 user and 50000 books
U = 10000
B = 50000


# https://stackoverflow.com/questions/3594514/how-to-find-most-common-elements-of-a-list

user_ids = [u for u, c in user_count.most_common(U)]
book_ids = [b for b, c in isbn_count.most_common(B)]

data_updated = data[(data["user_idx"].isin(user_ids) & data["isbn_idx"].isin(book_ids))].copy()

In [15]:
unique_user_idx = get_unique_idx(set(data_updated["user_idx"].values))
unique_isbn_idx = get_unique_idx(set(data_updated["isbn_idx"].values))

data_updated['user_idx'] = data_updated["user_idx"].apply(lambda x: unique_user_idx[x])
data_updated['isbn_idx'] = data_updated["isbn_idx"].apply(lambda x: unique_isbn_idx[x])

In [16]:
print("max user_id",data_updated["user_idx"].max())
print("max isbn_id",data_updated["isbn_idx"].max())

max user_id 9926
max isbn_id 47737

In [17]:
len(set(data_updated["user_idx"].values))

9927

In [18]:
data_updated.to_csv("../data/ratings_100000.csv")

In [19]:
data_updated = pd.read_csv("../data/ratings_100000.csv")

In [20]:
U = data_updated.user_idx.max()+1
B = data_updated.isbn_idx.max()+1

In [21]:
data_updated = shuffle(data_updated)

In [22]:
cut_off = int(0.8*len(data_updated))

In [23]:
df_train = data_updated.iloc[:cut_off]
df_test = data_updated.iloc[cut_off:]

df_train.to_csv("../data/train.csv")
df_test.to_csv("../data/test.csv")

In [24]:
user_2_book = {}
book_2_user = {}
user_book_rating ={}

def populate_mapping_train(row):
    u = int(row.user_idx)
    b = int(row.isbn_idx)
    
    if u not in user_2_book:
        user_2_book[u] = [b]
    else:
        user_2_book[u].append(b)
        
    if b not in book_2_user:
        book_2_user[b] = [u]
    else:
        book_2_user[b].append(u)
        
    user_book_rating[(u,b)] = row["Book-Rating"]
        
df_train.apply(populate_mapping_train,axis=1)

115631    None
147507    None
165699    None
166945    None
97366     None
          ...
190932    None
64012     None
197360    None
95929     None
174582    None
Length: 167010, dtype: object

In [25]:
user_2_book[1271]

[4758, 13445, 37824, 2242, 16366]

In [26]:
user_book_rating_test={}
def populate_mapping_test(row):
    u = int(row.user_idx)
    b = int(row.isbn_idx)
    
    user_book_rating_test[(u,b)] = row["Book-Rating"]

df_test.apply(populate_mapping_test,axis=1)

34107     None
207469    None
53116     None
12528     None
198582    None
          ...
159464    None
149697    None
186789    None
25266     None
99646     None
Length: 41753, dtype: object

In [27]:
def save_obj(obj, name ):
    with open(name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

In [28]:
save_obj(user_2_book,"../data/user_to_book")
save_obj(book_2_user,"../data/book_to_user")
save_obj(user_book_rating,"../data/user_book_rating")
save_obj(user_book_rating_test,"../data/user_book_rating_test")

In [29]:
user_book_rating

{(2335, 13231): 10,
 (568, 29423): 9,
 (6136, 29582): 7,
 (6470, 12358): 9,
 (1102, 24766): 5,
 (370, 45168): 8,
 (8688, 32619): 9,
 (4568, 40703): 10,
 (1175, 19685): 10,
 (7048, 47285): 10,
 (8141, 8458): 8,
 (5090, 17695): 8,
 (8694, 22100): 10,
 (3293, 38659): 6,
 (9700, 2095): 8,
 (3596, 30310): 9,
 (3913, 28382): 9,
 (344, 7947): 8,
 (5812, 3536): 10,
 (7267, 18058): 4,
 (9195, 14627): 9,
 (2102, 27441): 6,
 (6913, 18655): 9,
 (5972, 39768): 8,
 (901, 41000): 9,
 (377, 4862): 8,
 (3528, 37684): 6,
 (6314, 19238): 8,
 (7900, 27328): 6,
 (3913, 36772): 10,
 (5441, 27958): 10,
 (4515, 19670): 8,
 (2396, 5609): 10,
 (9188, 2709): 5,
 (2011, 32242): 10,
 (9343, 40546): 9,
 (9438, 42423): 8,
 (8373, 18022): 10,
 (5141, 28993): 9,
 (3528, 35363): 6,
 (5921, 12348): 9,
 (702, 3980): 5,
 (5986, 38865): 8,
 (3528, 39032): 9,
 (6204, 2243): 8,
 (1230, 41196): 1,
 (3837, 37489): 6,
 (2896, 25472): 10,
 (7606, 9676): 6,
 (8993, 36650): 8,
 (7608, 29096): 7,
 (3077, 5624): 8,
 (8373, 35229): 8,
 (8596, 26254): 8,
 (4069, 37503): 8,
 (3992, 11877): 10,
 (2305, 19394): 8,
 (417, 24226): 10,
 (5045, 42032): 8,
 (7347, 13751): 9,
 (2022, 41480): 7,
 (7078, 22430): 10,
 (6128, 11235): 9,
 (2550, 111): 8,
 (6611, 38832): 10,
 (224, 24653): 8,
 (964, 45559): 4,
 (702, 6654): 8,
 (3682, 7514): 5,
 (3772, 30128): 9,
 (1998, 29964): 9,
 (9499, 24260): 7,
 (3127, 16475): 8,
 (370, 32457): 8,
 (7467, 44745): 8,
 (5650, 11015): 7,
 (1310, 3844): 10,
 (3128, 8331): 5,
 (574, 27786): 7,
 (2700, 4857): 9,
 (571, 2050): 8,
 (2279, 42653): 8,
 (6184, 4728): 7,
 (9515, 39219): 3,
 (2877, 22338): 6,
 (8313, 46494): 5,
 (1480, 28943): 9,
 (6905, 3412): 9,
 (4658, 30570): 8,
 (77, 32483): 10,
 (927, 42512): 8,
 (8471, 45168): 10,
 (1286, 39500): 8,
 (889, 44346): 9,
 (2633, 38712): 9,
 (5356, 22070): 8,
 (605, 45684): 6,
 (2372, 43493): 8,
 (1693, 7334): 5,
 (8603, 40268): 5,
 (9219, 20454): 10,
 (2717, 47615): 7,
 (4719, 41694): 10,
 (3452, 12645): 10,
 (7649, 9173): 7,
 (9708, 2533): 8,
 (9042, 29076): 6,
 (3353, 10390): 8,
 (3387, 47661): 8,
 (1685, 38943): 6,
 (5692, 6185): 10,
 (8930, 17761): 10,
 (6450, 45100): 8,
 (4176, 40094): 8,
 (2584, 42825): 7,
 (8373, 39452): 8,
 (7588, 17445): 10,
 (3528, 22972): 4,
 (2358, 20533): 9,
 (5124, 10419): 5,
 (8237, 32673): 9,
 (3500, 24855): 10,
 (5558, 30858): 7,
 (511, 26331): 7,
 (4943, 26639): 6,
 (3528, 4742): 7,
 (3186, 26729): 9,
 (8518, 18619): 10,
 (3236, 36173): 5,
 (9468, 6519): 9,
 (764, 25833): 7,
 (6615, 41746): 10,
 (9006, 10148): 9,
 (1143, 17305): 8,
 (7748, 8217): 8,
 (3528, 4598): 8,
 (2660, 5133): 9,
 (3427, 8066): 10,
 (1625, 1653): 8,
 (5509, 10235): 9,
 (5602, 21262): 6,
 (3669, 21706): 9,
 (687, 38371): 10,
 (145, 286): 6,
 (770, 29704): 5,
 (284, 39714): 8,
 (7295, 2): 5,
 (9328, 9821): 8,
 (442, 28100): 7,
 (3348, 3995): 5,
 (4624, 39004): 10,
 (3307, 13499): 9,
 (2070, 43039): 10,
 (2320, 16526): 6,
 (9777, 31276): 6,
 (8071, 25878): 6,
 (6841, 26825): 5,
 (12, 10235): 10,
 (1542, 27024): 7,
 (6359, 26286): 9,
 (6638, 42483): 7,
 (3867, 14887): 8,
 (4718, 42554): 5,
 (5169, 41334): 9,
 (8400, 24794): 7,
 (3581, 1704): 10,
 (3852, 16512): 7,
 (9832, 3726): 10,
 (3142, 8408): 8,
 (3937, 38112): 9,
 (926, 28100): 10,
 (2691, 35304): 10,
 (5890, 19396): 9,
 (252, 33307): 8,
 (1910, 36315): 9,
 (7322, 9748): 7,
 (8373, 46411): 9,
 (7864, 1349): 9,
 (198, 5811): 10,
 (6405, 1002): 7,
 (8384, 10301): 7,
 (3916, 28565): 10,
 (3528, 38752): 7,
 (1215, 23952): 6,
 (8897, 35980): 6,
 (175, 31485): 10,
 (7555, 32009): 10,
 (5274, 10549): 6,
 (3583, 13927): 8,
 (6893, 24187): 9,
 (5178, 33099): 9,
 (8735, 37085): 9,
 (4974, 14210): 10,
 (7829, 38646): 7,
 (5767, 3284): 9,
 (6100, 25497): 8,
 (7202, 22214): 6,
 (6416, 12560): 7,
 (4344, 31382): 10,
 (2965, 27698): 10,
 (6405, 30378): 8,
 (2470, 35630): 10,
 (9491, 34715): 8,
 (3528, 7750): 8,
 (565, 7054): 10,
 (3528, 11269): 8,
 (2819, 5438): 6,
 (901, 12083): 10,
 (6393, 7499): 8,
 (9585, 11729): 7,
 (1409, 13060): 7,
 (2471, 46725): 10,
 (9618, 39586): 9,
 (598, 31450): 5,
 (740, 16936): 5,
 (4162, 44804): 8,
 (3582, 42821): 6,
 (9171, 10383): 7,
 (8145, 34320): 10,
 (9055, 30852): 7,
 (4992, 38580): 5,
 (6487, 9910): 7,
 (6696, 7557): 8,
 (987, 22895): 8,
 (3101, 25863): 10,
 (4266, 4687): 10,
 (5986, 17118): 6,
 (6431, 37284): 10,
 (8658, 4976): 9,
 (8925, 11140): 9,
 (4487, 44634): 8,
 (5581, 8266): 5,
 (1793, 20863): 7,
 (1079, 17703): 9,
 (7410, 2299): 9,
 (8373, 9387): 10,
 (9626, 30991): 8,
 (1455, 7055): 7,
 (6492, 45904): 10,
 (4053, 1032): 5,
 (8685, 13426): 5,
 (7725, 31540): 7,
 (2688, 41426): 5,
 (2595, 21751): 6,
 (1128, 7802): 6,
 (9405, 13101): 7,
 (9254, 44488): 7,
 (9329, 41261): 7,
 (8290, 3915): 8,
 (2819, 31646): 7,
 (3269, 19815): 8,
 (1137, 7826): 7,
 (602, 22600): 8,
 (322, 43388): 8,
 (5019, 1367): 10,
 (4517, 27525): 7,
 (6432, 27206): 10,
 (3441, 45286): 10,
 (6732, 3912): 5,
 (5293, 44351): 1,
 (4823, 23610): 7,
 (4982, 36962): 7,
 (9569, 3071): 8,
 (2696, 35854): 5,
 (8564, 22113): 10,
 (4938, 10197): 5,
 (1315, 24932): 8,
 (6607, 10421): 7,
 (9308, 17103): 7,
 (6900, 3744): 10,
 (798, 24860): 8,
 (5624, 886): 6,
 (4213, 9593): 10,
 (5773, 32195): 8,
 (377, 39751): 9,
 (7247, 23514): 7,
 (5051, 35717): 7,
 (2924, 13227): 7,
 (2841, 36728): 10,
 (809, 30637): 10,
 (9193, 44135): 2,
 (2470, 4687): 10,
 (5767, 37518): 9,
 (7717, 32660): 5,
 (8037, 4118): 10,
 (6782, 4791): 9,
 (7264, 38526): 6,
 (2600, 41804): 8,
 (438, 32787): 6,
 (4775, 42442): 8,
 (6337, 28926): 5,
 (6938, 27572): 7,
 (5141, 4247): 10,
 (5169, 44403): 10,
 (7724, 26796): 7,
 (8036, 13672): 9,
 (2698, 38234): 8,
 (3873, 16042): 10,
 (9171, 38676): 8,
 (9405, 30354): 10,
 (2641, 9644): 8,
 (2546, 20331): 6,
 (5454, 26880): 10,
 (9464, 25472): 5,
 (5078, 4164): 10,
 (1339, 26880): 8,
 (89, 2467): 10,
 (8714, 32605): 7,
 (3528, 34133): 1,
 (4820, 13055): 3,
 (5510, 44551): 7,
 (7986, 12184): 9,
 (8637, 44343): 7,
 (3329, 13404): 5,
 (8373, 22060): 8,
 (6425, 12734): 6,
 (5874, 3612): 8,
 (2359, 3621): 7,
 (7713, 12987): 5,
 (7978, 30683): 2,
 (910, 26057): 5,
 (5459, 13589): 6,
 (3584, 18392): 10,
 (4359, 5377): 6,
 (3528, 762): 8,
 (8373, 7079): 9,
 (7703, 38567): 7,
 (1711, 30779): 6,
 (4189, 15299): 4,
 (9254, 15829): 9,
 (5767, 24682): 5,
 (1102, 27203): 5,
 (7110, 37297): 8,
 (8277, 1981): 9,
 (7290, 10486): 9,
 (4003, 44222): 8,
 (6566, 3966): 8,
 (3403, 21306): 8,
 (9462, 9778): 7,
 (1946, 2656): 8,
 (5767, 12168): 9,
 (2086, 40321): 9,
 (2529, 36690): 8,
 (3825, 15845): 10,
 (2348, 2105): 7,
 (3141, 24864): 8,
 (456, 42217): 6,
 (7764, 8099): 9,
 (9182, 36527): 6,
 (9717, 32868): 5,
 (5823, 45594): 7,
 (9006, 6372): 10,
 (4571, 35309): 2,
 (322, 47368): 9,
 (1175, 47187): 9,
 (7603, 46979): 6,
 (7212, 28235): 7,
 (220, 17743): 6,
 (8097, 31569): 9,
 (3500, 36575): 9,
 (9254, 47366): 8,
 (5596, 30685): 10,
 (7064, 38640): 10,
 (248, 2918): 5,
 (5770, 34359): 5,
 (8814, 22808): 8,
 (6781, 26545): 9,
 (9876, 28647): 9,
 (9555, 41220): 7,
 (8128, 13046): 2,
 (4741, 7308): 8,
 (6372, 24362): 7,
 (6893, 6413): 10,
 (3065, 4967): 8,
 (9862, 34545): 5,
 (456, 5204): 8,
 (9432, 804): 5,
 (8373, 13597): 9,
 (8978, 13521): 10,
 (2046, 17770): 7,
 (3528, 20600): 5,
 (2583, 4630): 8,
 (1215, 31046): 10,
 (583, 25262): 7,
 (2549, 42272): 7,
 (9671, 36475): 6,
 (1289, 42022): 10,
 (4495, 33391): 8,
 (322, 14570): 10,
 (3152, 38903): 8,
 (2688, 35633): 9,
 (6359, 21781): 7,
 (91, 45278): 4,
 (291, 27274): 10,
 (745, 39114): 7,
 (2096, 36843): 4,
 (3683, 7830): 9,
 (71, 26861): 10,
 (1734, 26953): 10,
 (3528, 44688): 7,
 (7843, 43975): 1,
 (7429, 34708): 10,
 (6934, 901): 9,
 (7072, 19775): 6,
 (6668, 41370): 3,
 (9171, 20823): 8,
 (4934, 28672): 7,
 (3829, 46584): 6,
 (6412, 31744): 8,
 (5274, 5450): 6,
 (5078, 19509): 10,
 (9784, 27718): 10,
 (9200, 8270): 7,
 (3252, 37679): 8,
 (1526, 15337): 10,
 (7284, 30637): 7,
 (1932, 7889): 7,
 (1724, 33483): 5,
 (3528, 35737): 7,
 (7268, 34674): 8,
 (2016, 26022): 5,
 (9167, 42942): 5,
 (2051, 45876): 10,
 (5141, 38736): 10,
 (5120, 30430): 7,
 (9717, 31544): 5,
 (1279, 4853): 9,
 (4813, 25444): 7,
 (4720, 31055): 7,
 (3337, 30589): 6,
 (4982, 10682): 10,
 (6305, 32516): 8,
 (5510, 1680): 8,
 (8148, 28995): 7,
 (2500, 35623): 8,
 (5839, 44939): 10,
 (3787, 21840): 6,
 (4823, 12256): 8,
 (6835, 16591): 7,
 (2524, 20419): 5,
 (8588, 8098): 6,
 (4458, 26191): 7,
 (5568, 12996): 9,
 (2385, 22905): 1,
 (5484, 38991): 7,
 (3293, 46903): 7,
 (2011, 47176): 6,
 (5527, 44597): 8,
 (1215, 46701): 5,
 (8309, 2550): 6,
 (7027, 9974): 6,
 (7949, 3288): 10,
 (8390, 26074): 6,
 (4486, 779): 10,
 (2017, 25718): 8,
 (1014, 39021): 9,
 (3096, 45001): 7,
 (7466, 30567): 7,
 (8137, 3808): 8,
 (1916, 35197): 9,
 (1926, 44426): 8,
 (2088, 35565): 10,
 (737, 33490): 6,
 (6636, 34200): 10,
 (7290, 23305): 6,
 (972, 36985): 7,
 (8526, 29717): 6,
 (3671, 33612): 8,
 (8948, 12681): 8,
 (5121, 39281): 7,
 (5869, 400): 5,
 (3852, 18849): 10,
 (9559, 25472): 7,
 (1090, 42519): 10,
 (7185, 35565): 8,
 (7882, 21659): 8,
 (9739, 17281): 9,
 (3293, 5269): 8,
 (3886, 28652): 8,
 (7724, 24452): 8,
 (4699, 36827): 7,
 (6669, 17350): 5,
 (8215, 8923): 10,
 (6805, 44129): 6,
 (3348, 43245): 10,
 (893, 26749): 10,
 (649, 15648): 4,
 (4325, 30128): 10,
 (5435, 13968): 9,
 (3125, 3254): 8,
 (4935, 39213): 7,
 (702, 22173): 5,
 (1625, 29554): 8,
 (2211, 5213): 10,
 (8373, 41780): 8,
 (2452, 18364): 3,
 (1998, 37334): 9,
 (284, 28990): 8,
 (902, 40900): 10,
 (4035, 43569): 10,
 (9152, 3966): 8,
 (3372, 21383): 7,
 (6797, 31136): 5,
 (5981, 17720): 5,
 (4786, 33766): 10,
 (1742, 19284): 8,
 (6992, 1314): 6,
 (1941, 25488): 7,
 (5946, 45570): 8,
 (1759, 4432): 10,
 (2909, 872): 5,
 (697, 11234): 5,
 (2677, 19742): 10,
 (3838, 40864): 7,
 (1378, 14274): 8,
 (66, 32082): 10,
 (463, 4494): 10,
 (6893, 23999): 4,
 (5510, 18703): 9,
 (7098, 45123): 8,
 (4625, 22601): 8,
 (3797, 20976): 10,
 (8666, 25983): 8,
 (3607, 43403): 9,
 (4546, 15628): 5,
 (7505, 17253): 10,
 (6563, 20197): 9,
 (2359, 17260): 6,
 (6501, 20195): 8,
 (3072, 4210): 6,
 (5268, 45351): 10,
 (9240, 45979): 8,
 (6743, 42694): 5,
 (5510, 786): 6,
 (3873, 10100): 10,
 (7946, 31294): 9,
 (4632, 35399): 10,
 (7059, 21401): 8,
 (4512, 22788): 8,
 (8373, 12867): 10,
 (118, 42810): 10,
 (7368, 6574): 8,
 (8373, 40503): 9,
 (7934, 9443): 9,
 (5078, 15762): 10,
 (58, 4034): 6,
 (2275, 30515): 6,
 (3412, 38870): 7,
 (1143, 10123): 7,
 (5933, 409): 6,
 (5793, 24640): 6,
 (3299, 28120): 9,
 (5589, 6426): 9,
 (1127, 41206): 9,
 (9076, 47094): 7,
 (1786, 4667): 10,
 (4537, 19509): 9,
 (1163, 3489): 10,
 (5352, 46447): 10,
 (9254, 8966): 8,
 (318, 14971): 9,
 (8373, 35398): 8,
 (7589, 12024): 7,
 (379, 45913): 8,
 (5409, 17388): 8,
 (2958, 37927): 10,
 (7725, 26333): 8,
 (4339, 43544): 10,
 (2395, 33867): 9,
 (7529, 35788): 7,
 (7953, 37750): 6,
 (6127, 28725): 9,
 (9195, 18952): 7,
 (8017, 46750): 10,
 (7023, 7614): 5,
 (3013, 20924): 7,
 (532, 30731): 5,
 (6865, 33670): 5,
 (9612, 31599): 10,
 (7540, 44226): 3,
 (2776, 3535): 5,
 (6825, 2707): 3,
 (370, 1470): 9,
 (9171, 25223): 9,
 (2553, 23999): 10,
 (4013, 35572): 10,
 (1411, 2706): 5,
 (7048, 38670): 10,
 (1206, 25646): 10,
 (5510, 44804): 7,
 (8057, 20448): 5,
 (1891, 25066): 10,
 (4295, 23266): 10,
 (1823, 23254): 8,
 (8373, 29564): 9,
 (2492, 21455): 7,
 (2331, 5337): 9,
 (3547, 39251): 6,
 (1230, 47575): 7,
 (3888, 30237): 6,
 (5069, 30537): 10,
 (166, 23244): 9,
 (8373, 20696): 8,
 (574, 6010): 7,
 (1279, 3412): 9,
 (3631, 39350): 9,
 (5306, 36238): 5,
 (5391, 14084): 8,
 (5773, 46837): 10,
 (8373, 27671): 8,
 (5035, 21267): 8,
 (201, 23642): 8,
 (32, 33786): 8,
 (1089, 40027): 10,
 (8400, 16500): 9,
 (5337, 38731): 10,
 (4844, 1410): 10,
 (1234, 7990): 7,
 (1693, 2799): 5,
 (5732, 17732): 7,
 (145, 13757): 10,
 (7829, 39515): 5,
 (7472, 12469): 8,
 (3884, 29012): 7,
 (3619, 34091): 7,
 (8459, 7513): 5,
 (9468, 38249): 8,
 (1634, 25072): 8,
 (5123, 40679): 10,
 (6405, 18464): 8,
 (5672, 11860): 10,
 (7401, 347): 6,
 (6934, 84): 9,
 (7679, 45475): 8,
 (2279, 21798): 8,
 (4816, 32787): 4,
 (449, 19137): 5,
 (5479, 8311): 9,
 (2743, 35450): 8,
 (2817, 3876): 6,
 (1530, 31876): 8,
 (7284, 18920): 8,
 (5148, 31723): 4,
 (5902, 35052): 10,
 (2598, 30440): 8,
 (2783, 32929): 10,
 (3006, 45756): 6,
 (8400, 3652): 6,
 (1349, 32516): 10,
 (5885, 7054): 8,
 (7096, 236): 9,
 (9509, 45977): 10,
 (6575, 31324): 8,
 (3277, 6211): 7,
 (8886, 32963): 7,
 (9717, 29248): 5,
 (7185, 25437): 7,
 (5931, 32660): 8,
 (9801, 15926): 9,
 (2924, 5862): 7,
 (9041, 38360): 7,
 (4683, 17613): 7,
 (877, 16998): 6,
 (5890, 14879): 8,
 (8439, 6527): 8,
 (5040, 14932): 8,
 (3878, 44367): 6,
 (7287, 29477): 10,
 (4501, 43388): 5,
 (1094, 12643): 9,
 (2028, 46147): 8,
 (6875, 40189): 9,
 (5564, 40556): 7,
 (3222, 16465): 7,
 (3087, 3905): 7,
 (6482, 32596): 9,
 (5876, 44411): 8,
 (7841, 24896): 8,
 (4399, 31827): 7,
 (4347, 12086): 9,
 (4448, 15937): 9,
 (1405, 15107): 7,
 (7764, 16547): 3,
 (8913, 29396): 8,
 (6438, 19190): 8,
 (3837, 9707): 5,
 (9809, 44052): 8,
 (1601, 17667): 9,
 (5540, 35534): 8,
 (7455, 13061): 10,
 (2550, 10986): 9,
 (9005, 30824): 10,
 (83, 13170): 5,
 (8040, 18316): 8,
 (4597, 34442): 9,
 (6156, 23483): 8,
 (9005, 24418): 10,
 (6844, 15545): 8,
 (7433, 15318): 8,
 (9357, 19806): 10,
 (5590, 13165): 5,
 (3960, 42364): 10,
 (1235, 33634): 6,
 (9171, 16655): 8,
 (9069, 18908): 4,
 (9254, 11178): 9,
 (2328, 47110): 8,
 (2485, 2738): 9,
 (4791, 4923): 7,
 (508, 6987): 8,
 (6309, 35919): 10,
 (4719, 4296): 10,
 (7156, 21429): 6,
 (5616, 3002): 7,
 (69, 4551): 7,
 (1889, 2795): 7,
 (3293, 46989): 7,
 (701, 24104): 5,
 (4460, 30788): 3,
 (5769, 47110): 6,
 (5141, 18025): 10,
 (8373, 41212): 8,
 (5617, 29347): 5,
 (6793, 4566): 6,
 (1242, 9678): 10,
 (4557, 2100): 10,
 (4877, 4668): 8,
 (1120, 36794): 8,
 (4894, 38175): 7,
 (8198, 24118): 8,
 (702, 18514): 5,
 (4612, 9612): 9,
 (4171, 32101): 10,
 (1779, 12316): 5,
 (1701, 19025): 8,
 (7983, 27468): 10,
 (9295, 12957): 10,
 (7752, 12983): 9,
 (3528, 9894): 5,
 (8373, 23344): 9,
 (7735, 1903): 7,
 (3528, 37136): 8,
 (6632, 22544): 7,
 (9178, 40195): 9,
 (1912, 34892): 6,
 (8189, 34132): 8,
 (1187, 30175): 10,
 (5803, 37843): 9,
 (4693, 40389): 8,
 (8097, 5615): 9,
 (8373, 17055): 8,
 (6986, 44207): 10,
 (6303, 42609): 6,
 (9171, 16351): 8,
 (2438, 2936): 10,
 (966, 2306): 9,
 (409, 22124): 8,
 (395, 18386): 5,
 (5867, 26833): 5,
 (3294, 22055): 8,
 (6261, 36890): 5,
 (511, 44152): 9,
 (3578, 30706): 6,
 (1134, 25341): 6,
 (9710, 13080): 3,
 (7399, 18435): 9,
 (5670, 12244): 6,
 (8765, 6558): 3,
 (710, 16475): 8,
 (8950, 36851): 9,
 (8373, 12977): 8,
 (7116, 28029): 10,
 (6290, 28041): 5,
 (9203, 34802): 9,
 (9459, 38580): 9,
 (1383, 23919): 6,
 (3144, 2228): 7,
 (1953, 18632): 7,
 (772, 4923): 6,
 (2041, 10591): 10,
 (8332, 39967): 5,
 (1910, 44085): 8,
 (6780, 2259): 8,
 (916, 43147): 8,
 (8274, 40247): 6,
 (4943, 42688): 7,
 (9725, 102): 6,
 (9296, 35458): 7,
 (3293, 17656): 7,
 (1175, 35089): 10,
 (3722, 22564): 9,
 (4154, 24671): 9,
 (9254, 29183): 9,
 (1127, 21245): 10,
 (8097, 21881): 9,
 (8432, 17467): 7,
 (35, 42526): 5,
 (2409, 18470): 10,
 (361, 37359): 8,
 (5889, 3678): 9,
 (7896, 29320): 9,
 (376, 28046): 10,
 (3669, 25824): 9,
 (3528, 4763): 7,
 (9171, 41838): 7,
 (2023, 38633): 10,
 (5767, 25318): 9,
 (6094, 6043): 8,
 (8664, 15719): 8,
 (2865, 9281): 8,
 (9758, 1957): 10,
 (9727, 14627): 9,
 (5006, 3697): 9,
 (5757, 15271): 10,
 (5529, 10422): 10,
 (8373, 40571): 9,
 (2249, 41196): 5,
 (6187, 37367): 8,
 (517, 35772): 8,
 (8255, 21345): 8,
 (6638, 23560): 5,
 (686, 29298): 7,
 (790, 40103): 8,
 (6449, 19526): 10,
 (9905, 44607): 8,
 (5040, 5769): 9,
 (4704, 29032): 10,
 (846, 22004): 10,
 (8031, 34393): 5,
 (2556, 2343): 7,
 (5762, 17941): 5,
 (7072, 26014): 7,
 (7032, 10749): 4,
 (1373, 40447): 10,
 (5129, 18009): 5,
 (7949, 42910): 8,
 (5469, 45654): 8,
 (1095, 16008): 5,
 (4409, 17141): 9,
 (8935, 19364): 6,
 (5949, 23339): 8,
 (8373, 15325): 9,
 (7054, 4545): 10,
 (3146, 16559): 8,
 (6156, 27241): 6,
 (1769, 226): 8,
 (1826, 43409): 5,
 (1248, 10499): 8,
 (7829, 38966): 8,
 (8373, 12367): 10,
 (9325, 44002): 8,
 (6265, 14094): 10,
 (3622, 16707): 5,
 (2304, 29717): 7,
 (1230, 23494): 7,
 (8181, 44354): 5,
 (1213, 16382): 8,
 (3528, 17795): 10,
 (5510, 24159): 9,
 (8267, 15586): 10,
 (8438, 35840): 10,
 (4680, 20306): 4,
 (1875, 4197): 4,
 (7720, 43354): 3,
 (4466, 15501): 8,
 (8404, 45698): 8,
 (4780, 27706): 10,
 (7647, 38605): 8,
 (3811, 16727): 6,
 (5094, 24426): 8,
 (6487, 31521): 8,
 (9, 44715): 9,
 (1769, 36796): 7,
 (3646, 19907): 8,
 (3941, 9509): 8,
 (3528, 44346): 3,
 (6676, 38253): 9,
 (512, 12247): 8,
 (3054, 5467): 9,
 (2901, 39592): 8,
 (5773, 21149): 6,
 (8373, 713): 8,
 (8842, 31570): 8,
 (3127, 19806): 10,
 (9438, 22788): 8,
 (6914, 19480): 7,
 (7674, 13205): 9,
 (993, 29525): 9,
 (58, 34163): 5,
 (5868, 25472): 10,
 (5958, 45903): 5,
 (8128, 44753): 6,
 (3744, 20244): 2,
 (9278, 5357): 5,
 (12, 32559): 9,
 (5169, 4594): 3,
 (4436, 13024): 7,
 (1094, 15812): 8,
 (1378, 32340): 9,
 (3921, 44659): 5,
 (5150, 35907): 5,
 (6205, 13061): 8,
 (4544, 31038): 8,
 (279, 29717): 9,
 (2688, 4734): 5,
 (8029, 18473): 10,
 (8535, 1903): 3,
 (7086, 34866): 10,
 (799, 11058): 8,
 (7771, 42118): 8,
 (7879, 8793): 10,
 (3852, 8821): 10,
 (1734, 46332): 10,
 (6425, 26582): 7,
 (946, 39094): 6,
 (6893, 4718): 6,
 (886, 38832): 8,
 (8357, 14635): 8,
 (7086, 14256): 9,
 (6096, 27317): 8,
 (1412, 24488): 5,
 (2906, 33910): 5,
 (179, 34869): 6,
 (963, 4905): 7,
 (866, 29298): 8,
 (5565, 47164): 8,
 (3751, 39206): 8,
 (4202, 10441): 9,
 (6148, 43484): 10,
 (2028, 14230): 7,
 (7553, 25205): 8,
 (6698, 32324): 8,
 (4903, 8581): 8,
 (9305, 21342): 7,
 (7433, 21048): 8,
 (1581, 35840): 9,
 (3528, 36738): 8,
 (8290, 15595): 6,
 (8212, 22983): 8,
 (9861, 7539): 10,
 (4353, 44033): 5,
 (718, 47110): 8,
 (6789, 3435): 7,
 (7213, 37912): 8,
 (1823, 31757): 8,
 (1530, 42851): 4,
 (7119, 15594): 5,
 (2773, 46544): 7,
 (3966, 17724): 10,
 (7073, 26344): 8,
 (540, 9311): 6,
 (3145, 40886): 6,
 (3062, 18798): 8,
 (965, 21681): 8,
 (6846, 30785): 10,
 (6258, 2635): 9,
 (6567, 15926): 9,
 (539, 33879): 8,
 (4488, 13151): 8,
 (3306, 961): 6,
 (9616, 42889): 6,
 (4556, 14310): 8,
 (4195, 41339): 7,
 (5719, 8595): 10,
 (3941, 43642): 9,
 (3563, 25472): 10,
 (8071, 35169): 5,
 (7818, 6309): 6,
 (5481, 25058): 8,
 (1998, 21046): 9,
 (6502, 23918): 6,
 (3859, 41090): 9,
 (1245, 12588): 5,
 (4501, 26907): 7,
 (5715, 36749): 5,
 (7324, 27594): 6,
 (6303, 43969): 8,
 (9792, 29881): 7,
 (3528, 14028): 7,
 (2200, 2276): 5,
 (8373, 22058): 10,
 (4745, 47575): 8,
 (7949, 41579): 8,
 (6733, 14791): 9,
 (598, 15637): 5,
 (1009, 11725): 5,
 (2321, 10249): 5,
 (9189, 41437): 9,
 (3528, 18145): 5,
 (3299, 4754): 5,
 (4176, 40824): 8,
 (9317, 15310): 10,
 (3528, 25265): 8,
 (7668, 44890): 6,
 (7669, 8531): 8,
 (4570, 34896): 8,
 (3528, 20888): 9,
 (8309, 21535): 10,
 (600, 2504): 9,
 (8137, 19881): 8,
 ...}